body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    height: 962px;
    background-size: cover;
    background-position: center;
}

.random-jokes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}